<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Administración</title>
</head>

<body>
    <section id="sidebar">
        <a href="{{ url_for('dashboard') }}" class="brand">
            <i class='bx bxs'></i>
            <span class="text">RomaStore</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="{{ url_for('dashboard') }}">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Panel principal</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('registrar_pedido') }}">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Registrar Pedido</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('clientes') }}">
                    <i class='bx bxs-group'></i>
                    <span class="text">Clientes</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('registrar_abono') }}">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="text">Registrar Abono</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Saldos??</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('historial_cliente') }}">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Historial</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Ajustes</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Cerrar sesion</span>
                </a>
            </li>
        </ul>
    </section>

    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>
            <a href="" class="nav-link">Categorias</a>
            <form action="">
                <!-- Barra de busqueda -->
                <!-- <div class="form-input">
                    <input type="search" placeholder="Buscar">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div> -->
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
            <a href="#" class="notification">
                <i class='bx bxs-bell'></i>
                <!-- <span class="num"></span> -->
            </a>
            <a href="" class="profile">
                <img src="{{ url_for('static', filename='images/people.png') }}">
            </a>
        </nav>

        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Panel principal</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="">Panel principal</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="">Inicio</a>
                        </li>
                    </ul>
                </div>
                <!-- <a href="#" class="btn-download">
                    <i class='bx bxs-cloud-download'></i>
                    <span class="text">Download PDF</span>
                </a> -->
            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-calendar-check' style="font-size: 24px;"></i>
                    <form action="{{ url_for('registrar_pedido') }}" method="get" style="display: inline;">
                        <button type="submit"
                            style="background: none; border: none; cursor: pointer; padding: 0; display: flex; align-items: center;">
                            <span class="text">
                                <h3>{{ num_orders_today }}</h3>
                                <p>Pedidos</p>
                            </span>
                        </button>
                    </form>
                </li>
                <li>
                    <i class='bx bxs-group'></i>
                    <a href="{{ url_for('clientes') }}">
                    <span class="text">
                        <h3>{{ num_clients }}</h3>
                        <p>Clientes</p>
                    </span>
                    </a>
                </li>
                <li>
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="text">
                        <h3>$2543</h3>
                        <p>Total Ventas</p>
                    </span>
                </li>
            </ul>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Ordenes recientes</h3>
                        <i class='bx bx-search'></i>
                        <i class='bx bx-filter'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Fecha de pedido</th>
                                <th>Producto</th>
                                <th>Total</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <p>{{ order.user }}</p>
                                </td>
                                <td>{{ order.date_order }}</td>
                                <td>{{ order.producto }}</td>
                                <td>{{ order.total }}</td>
                                <td><span class="status {{ order.status }}">{{ order.status.capitalize() }}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </section>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>