<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Historial de Cliente</title>
</head>

<body>
    <section id="sidebar">
        <a href="{{ url_for('dashboard') }}" class="brand">
            <i class='bx bxs'></i>
            <span class="text">RomaStore</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="{{ url_for('dashboard') }}">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Panel principal</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('registrar_pedido') }}">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Registrar Pedido</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('clientes') }}">
                    <i class='bx bxs-group'></i>
                    <span class="text">Clientes</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('registrar_abono') }}">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="text">Registrar Abono</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Saldos??</span>
                </a>
            </li>
            <li class="active">
                <a href="{{ url_for('historial_cliente') }}">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Historial</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Ajustes</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Cerrar sesion</span>
                </a>
            </li>
        </ul>
    </section>

    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Categorías</a>
            <!-- Otros elementos del nav -->
        </nav>

        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Historial de Cliente</h1>
                    <ul class="breadcrumb">
                        <li><a href="{{ url_for('dashboard') }}">Panel principal</a></li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li><a class="active" href="">Historial de Cliente</a></li>
                    </ul>
                </div>
                <form action="{{ url_for('historial_cliente') }}" method="get" class="search-form">
                    <input type="text" name="search_query" id="nombre" placeholder="Buscar cliente" required
                        autocomplete="off">
                    <ul id="autocomplete-results" class="list-group mt-2"></ul>
                    <button type="submit">
                        <i class='bx bx-search'></i>
                    </button>
                </form>
            </div>

            {% if historial %}
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Historial de movimientos: {{ cliente_nombre }}</h3>
                    </div>
                    <table class="table table-striped historial-cliente-table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Venta</th>
                                <th>Compra</th>
                                <th>Ganancia</th>
                                <th>Pago en Caja</th>
                                <th>Estado Envío</th>
                                <th>Comentarios</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in historial %}
                            <tr>
                                <td>{{ entry.fecha }}</td>
                                <td>{{ entry.producto }}</td>
                                <td>{{ entry.cantidad }}</td>
                                <td class="format-number">{{ entry.venta }}</td>
                                <td class="format-number">{{ entry.compra }}</td>
                                <td class="format-number">{{ entry.ganancia }}</td>
                                <td>{{ entry.pago_en_caja }}</td>
                                <td>{{ entry.estado_envio }}</td>
                                <td>{{ entry.comentarios }}</td>
                                <td class="format-number">{{ entry.total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="sumary">
                <div class="summary-item">Total deuda: <td class="format-number">${{ total_deuda }}</td></div>
                <div class="summary-item">Saldo a favor: <td class="format-number">${{ saldo_a_favor }}</td></div>
                <div class="summary-item">Suma total: <td class="format-number">${{ suma_total }}</td></div>
            </div>
            {% else %}
            <p>No se encontraron registros para el cliente seleccionado.</p>
            {% endif %}
        </main>
    </section>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>