<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>Registrar Abono</title>
</head>

<body>
    <section id="sidebar">
        <a href="{{ url_for('dashboard') }}" class="brand">
            <i class='bx bxs'></i>
            <span class="text">RomaStore</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a href="{{ url_for('dashboard') }}">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Panel principal</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('registrar_pedido') }}">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Registrar Pedido</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('clientes') }}">
                    <i class='bx bxs-group'></i>
                    <span class="text">Clientes</span>
                </a>
            </li>
            <li class="active">
                <a href="{{ url_for('registrar_abono') }}">
                    <i class='bx bxs-dollar-circle'></i>
                    <span class="text">Registrar Abono</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Saldos</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('historial_cliente') }}">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Historial</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Ajustes</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Cerrar sesión</span>
                </a>
            </li>
        </ul>
    </section>

    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Categorías</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Buscar">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
            <a href="#" class="notification">
                <i class='bx bxs-bell'></i>
                <span class="num">8</span>
            </a>
            <a href="#" class="profile">
                <img src="{{ url_for('static', filename='images/people.png') }}">
            </a>
        </nav>

        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Registrar Abono</h1>
                    <ul class="breadcrumb">
                        <li><a href="{{ url_for('dashboard') }}">Panel principal</a></li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li><a class="active" href="#">Registrar Abono</a></li>
                    </ul>
                </div>
            </div>

            <div class="container mt-4">
                <!-- Formulario de Registro de Abono -->
                <div id="formulario-registro">
                    <h2 class="mb-3">Registrar Nuevo Abono</h2>
                    <form method="POST" action="{{ url_for('registrar_abono') }}" class="form-group">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="fecha">Fecha:</label>
                                <input type="date" id="fecha" name="fecha" class="form-control" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="valor">Valor:</label>
                                <input type="number" step="0.01" id="valor" name="valor" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="cuenta">Cuenta:</label>
                                <input type="text" id="cuenta" name="cuenta" class="form-control" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="nombre">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="medio_pago">Medio de Pago:</label>
                                <select class="form-control" name="medio_pago" id="medio_pago" required>
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Bancolombia">Bancolombia</option>
                                    <option value="Daviplata">Daviplata</option>
                                    <option value="Nequi">Nequi</option>
                                    <option value="CTE">CTE</option>
                                    <option value="Cash">Cash</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="confirmacion">Confirmación:</label>
                                <select class="form-control" name="confirmacion" id="confirmacion" required>
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Confirmado">Confirmado</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Registrar Abono</button>
                    </form>
                </div>

                <!-- Lista de Abonos -->
                <br><br>
                <div id="lista-abonos" class="mt-4">
                    <div class="table-data">
                        <div class="order">
                            <div class="head">
                                <h3>Abonos Registrados</h3>
                                <div class="search-container">
                                    <i class='bx bx-search' id="search-icon"></i>
                                    <input type="text" id="search-input" placeholder="Buscar"
                                        class="search-input">
                                </div>
                                <i class='bx bx-filter'></i>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <!-- <th>ID</th> -->
                                        <th>Fecha</th>
                                        <th>Valor</th>
                                        <th>Cuenta</th>
                                        <th>Nombre</th>
                                        <th>Medio de Pago</th>
                                        <th>Confirmación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for abono in abonos %}
                                    <tr>
                                        <!-- <td>{{ abono.id }}</td> -->
                                        <td>{{ abono.fecha }}</td>
                                        <td class="format-number">{{ abono.valor }}</td>
                                        <td>{{ abono.cuenta }}</td>
                                        <td>{{ abono.nombre }}</td>
                                        <td>{{ abono.medio_pago }}</td>
                                        <td>{{ abono.confirmacion }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>